{% extends "datarequests/show.html" %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="">{{ _('Comments') }}</a></li>
{% endblock %}


{% block primary_content_inner %}

  {% snippet "datarequests/snippets/comments.html", comments=c.comments, datarequest=c.datarequest, errors=c.errors, errors_summary=c.errors_summary, updated_comment=c.updated_comment %}

  {% if h.check_access('datarequest_comment', {'id':c.datarequest.id }) %}
    <div class="comment-new">

      {% set create_comment_error = c.updated_comment is defined and c.updated_comment.id == '' %}
      
      {% if create_comment_error %}
        <a name="comment_focus"></a>
      {% endif %}
      
      {% snippet "datarequests/snippets/comment_form.html", datarequest=c.datarequest, errors=c.errors, errors_summary=c.errors_summary, offering=c.offering, initial_text=c.updated_comment.comment if create_comment_error, focus=create_comment_error, current_user=c.userobj %}
    </div>
  {% endif %}

{% endblock %}
