<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      {% block package_additional_info %}
          <tr>
          <th scope="row" class="dataset-label">{{ _('Creator') }}</th>
          <td class="dataset-details">{{ datarequest.user['display_name'] }}</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label">{{ _('Organization') }}</th>
          <td class="dataset-details">{{ datarequest.organization['display_name'] if datarequest.organization else None }}</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label">{{ _('Created') }}</th>
          <td class="dataset-details">{{ h.time_ago_from_timestamp(datarequest.open_time) }}</td>
        </tr>
        <tr>
          <th scope="row" class="dataset-label">{{ _('Closed') }}</th>
          <td class="dataset-details">{{ h.time_ago_from_timestamp(datarequest.close_time) if datarequest.close_time else _('Not closed yet') }}</td>
        </tr>
      {% endblock %}
    </tbody>
  </table>
</section>