{% block datarequests_followers %}
  <section class="module module-narrow">
    {% block social_title %}
      <h2 class="module-heading"><i class="fa fa-share-square-o"></i> {{ _('Followers') }}</h2>
    {% endblock %}
    {% block nums %}
      <div class="nums">
        <dl>
          <dt>{{ _('Followers') }}</dt>
          <dd data-module="followers-counter" data-module-id="{{ datarequest.followers }}" data-module-num_followers="{{ num_followers }}">{{ h.SI_number_span(datarequest.followers) }}</dd>
        </dl>
      </div>
    {% endblock %}
  </section>
{% endblock %}
