{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block admin_form %}

    {{ super() }}
    {% if h.closing_circumstances_enabled %}
        {{ form.textarea('ckan.datarequests.closing_circumstances', id='field-ckan.datarequests.closing_circumstances', label=_('Data request closing circumstances'), placeholder=_('eg.\nPartially released|nominate_dataset\nTo be released as open data at a later date|nominate_approximate_date\nData openly available elsewhere'), value=data['ckan.datarequests.closing_circumstances'], error=errors['ckan.datarequests.closing_circumstances']) }}
    {% endif %}
{% endblock %}


{% block admin_form_help %}

    {{ super() }}
    {% if h.closing_circumstances_enabled %}
        <p>
            <strong>Data Request Closing Circumstances:</strong>
            Options displayed when closing a data request </br>
            Optional conditions are added to an option by adding a pipe character (|) followed by the condition</br>
            The following conditions can be used:</br>
            - nominate_dataset (e.g. Released as open data|nominate_dataset)</br>     
            - nominate_approximate_date (e.g.To be released as open data at a later date|nominate_approximate_date)
        </p>
    {% endif %}
{% endblock %}
