{% ckan_extends %}

{% block content_primary_nav %}
  {% set user_datasets_nav = 'user_datasets' if h.ckan_version()[:3] <= '2.7' else 'user.read' %}
  {% set user_activity_nav = 'user_activity_stream' if h.ckan_version()[:3] <= '2.7' else 'user.activity' %}

  {{ h.build_nav_icon(user_datasets_nav, _('Datasets'), id=user.name) }}
  {{ h.build_nav_icon(user_activity_nav, _('Activity Stream'), id=user.name) }}
  {{ h.build_nav_icon('user_datarequests', _('Data Requests'), id=user.name) }}
{% endblock %}
